/* Write your code here. */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1f5f8;
  min-height: 100vh;
}
.faq-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 80%;
  margin: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  color: #cb8805;
  font-size: 30px;
  margin-top: 30px;
}

.faq-list-container {
  list-style-type: none;
  width: 100%;
}
